// 添加
.avatar-uploader {
    text-align: center;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .ql-editor{
    height: 300px;
  }
  .el-dialog__title{
    display: block;
    padding: 10px 0 0 10px;
  }
  // 发布文章
  // 清除发布文章素材库的padding值
  .el-dialog__header{
    padding: 0;
  }
  .my-image .el-dialog__body{
    padding-bottom: 0;
  }
  .el-dialog__footer{
    text-align: center;
  }